@model PrintingSystem.Models.PrintingInput

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrinterQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrinterQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotocopyQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotocopyQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Purpose)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
